package {{ package }};

public class {{ concrete_class }} extends {{ abstract_class }} {

    @Override
    protected void {{ step1_method }}() {
        System.out.println("{{ concrete_class }}." + "{{ step1_method }}");
    }

    @Override
    protected void {{ step2_method }}() {
        System.out.println("{{ concrete_class }}." + "{{ step2_method }}");
    }
}
