pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
package: {{ package | yaml_value }}
class_name: {{ class_name | yaml_value }}
instance_method: {{ instance_method | yaml_value }}
output_dir: {{ output_dir | yaml_value }}
