pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
package: {{ package | yaml_value }}
abstract_class: {{ abstract_class | yaml_value }}
concrete_class: {{ concrete_class | yaml_value }}
template_method_name: {{ template_method_name | yaml_value }}
step1_method: {{ step1_method | yaml_value }}
step2_method: {{ step2_method | yaml_value }}
hook_method: {{ hook_method | yaml_value }}
output_dir: {{ output_dir | yaml_value }}
