pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
module_name: {{ module_name | yaml_value }}
command_class: {{ command_class | yaml_value }}
concrete_command_class: {{ concrete_command_class | yaml_value }}
receiver_class: {{ receiver_class | yaml_value }}
invoker_class: {{ invoker_class | yaml_value }}
action_method: {{ action_method | yaml_value }}
output_dir: {{ output_dir | yaml_value }}
