pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
abstract_factory_class: {{ abstract_factory_class | yaml_value }}
concrete_factory1_class: {{ concrete_factory1_class | yaml_value }}
concrete_factory2_class: {{ concrete_factory2_class | yaml_value }}
product_a_class: {{ product_a_class | yaml_value }}
product_b_class: {{ product_b_class | yaml_value }}
create_product_a_method: {{ create_product_a_method | yaml_value }}
create_product_b_method: {{ create_product_b_method | yaml_value }}
output_dir: {{ output_dir | yaml_value }}
