from abc import ABC, abstractmethod


class {{ target_class }}(ABC):
    @abstractmethod
    def {{ request_method }}(self) -> str:
        ...


class {{ adaptee_class }}:
    def {{ specific_request_method }}(self) -> str:
        return "{{ adaptee_class }}.{{ specific_request_method }}"


class {{ adapter_class }}({{ target_class }}):
    def __init__(self, adaptee: {{ adaptee_class }}) -> None:
        self._adaptee = adaptee

    def {{ request_method }}(self) -> str:
        return self._adaptee.{{ specific_request_method }}()
