pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
namespace: {{ namespace | yaml_value }}
class_name: {{ class_name | yaml_value }}
instance_method: {{ instance_method | yaml_value }}
header_dir: {{ header_dir | yaml_value }}
source_dir: {{ source_dir | yaml_value }}
thread_safe: {{ thread_safe | yaml_value }}
