#ifndef {{ prefix | upper }}_{{ handle_type | upper }}_H
#define {{ prefix | upper }}_{{ handle_type | upper }}_H

/* The type of a handle is system specific */
typedef {{ handle_type }} {{ prefix }}_{{ handle_type }};

#endif /* {{ prefix | upper }}_{{ handle_type | upper }}_H */
