pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
prefix: {{ prefix | yaml_value }}
context_name: {{ context_name | yaml_value }}
strategy_name: {{ strategy_name | yaml_value }}
strategy_func_params: {{ strategy_func_params | yaml_value }}
strategy_func_return: {{ strategy_func_return | yaml_value }}
strategies: {{ strategies | yaml_value }}
header_dir: {{ header_dir | yaml_value }}
source_dir: {{ source_dir | yaml_value }}
