pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
package: {{ package | yaml_value }}
target_class: {{ target_class | yaml_value }}
adaptee_class: {{ adaptee_class | yaml_value }}
adapter_class: {{ adapter_class | yaml_value }}
request_method: {{ request_method | yaml_value }}
specific_request_method: {{ specific_request_method | yaml_value }}
output_dir: {{ output_dir | yaml_value }}
