package {{ package }};

public class {{ product_class }} {
    private String partA;
    private String partB;

    public void setPartA(String value) {
        this.partA = value;
    }

    public void setPartB(String value) {
        this.partB = value;
    }

    public String getPartA() {
        return partA;
    }

    public String getPartB() {
        return partB;
    }
}
