package {{ package }}

class {{ concrete_class }} : {{ abstract_class }}() {

    override fun {{ step1_method }}() {
        println("{{ concrete_class }}.{{ step1_method }}")
    }

    override fun {{ step2_method }}() {
        println("{{ concrete_class }}.{{ step2_method }}")
    }
}
