pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
namespace: {{ namespace | yaml_value }}
facade_class: {{ facade_class | yaml_value }}
subsystem_a_class: {{ subsystem_a_class | yaml_value }}
subsystem_b_class: {{ subsystem_b_class | yaml_value }}
operation_method: {{ operation_method | yaml_value }}
facade_method: {{ facade_method | yaml_value }}
header_dir: {{ header_dir | yaml_value }}
source_dir: {{ source_dir | yaml_value }}
