pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
package: {{ package | yaml_value }}
product_class: {{ product_class | yaml_value }}
builder_class: {{ builder_class | yaml_value }}
concrete_builder_class: {{ concrete_builder_class | yaml_value }}
director_class: {{ director_class | yaml_value }}
output_dir: {{ output_dir | yaml_value }}
