pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
namespace: {{ namespace | yaml_value }}
product_class: {{ product_class | yaml_value }}
builder_class: {{ builder_class | yaml_value }}
concrete_builder_class: {{ concrete_builder_class | yaml_value }}
director_class: {{ director_class | yaml_value }}
header_dir: {{ header_dir | yaml_value }}
source_dir: {{ source_dir | yaml_value }}
