pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
prefix: {{ prefix | yaml_value }}
struct_name: {{ struct_name | yaml_value }}
instance_func: {{ instance_func | yaml_value }}
header_dir: {{ header_dir | yaml_value }}
source_dir: {{ source_dir | yaml_value }}
