pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
namespace: {{ namespace | yaml_value }}
subject_class: {{ subject_class | yaml_value }}
observer_class: {{ observer_class | yaml_value }}
concrete_observer_class: {{ concrete_observer_class | yaml_value }}
update_method: {{ update_method | yaml_value }}
header_dir: {{ header_dir | yaml_value }}
source_dir: {{ source_dir | yaml_value }}
