package {{ package }};

public class {{ concrete_component_class }} implements {{ component_class }} {
    @Override
    public String {{ operation_method }}() {
        return "{{ concrete_component_class }}";
    }
}
