pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
prefix: {{ prefix | yaml_value }}
context_name: {{ context_name | yaml_value }}
states: {{ states | yaml_value }}
events: {{ events | yaml_value }}
header_dir: {{ header_dir | yaml_value }}
source_dir: {{ source_dir | yaml_value }}
