pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
module_name: {{ module_name | yaml_value }}
component_class: {{ component_class | yaml_value }}
leaf_class: {{ leaf_class | yaml_value }}
composite_class: {{ composite_class | yaml_value }}
operation_method: {{ operation_method | yaml_value }}
add_method: {{ add_method | yaml_value }}
output_dir: {{ output_dir | yaml_value }}
