pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
module_name: {{ module_name | yaml_value }}
component_class: {{ component_class | yaml_value }}
concrete_component_class: {{ concrete_component_class | yaml_value }}
decorator_class: {{ decorator_class | yaml_value }}
concrete_decorator_class: {{ concrete_decorator_class | yaml_value }}
operation_method: {{ operation_method | yaml_value }}
output_dir: {{ output_dir | yaml_value }}
