pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
prefix: {{ prefix | yaml_value }}
subject_name: {{ subject_name | yaml_value }}
observer_name: {{ observer_name | yaml_value }}
notification_data_type: {{ notification_data_type | yaml_value }}
notification_param_name: {{ notification_param_name | yaml_value }}
observer_create_func: {{ observer_create_func | yaml_value }}
observer_notify_func: {{ observer_notify_func | yaml_value }}
header_dir: {{ header_dir | yaml_value }}
source_dir: {{ source_dir | yaml_value }}
