pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
module_name: {{ module_name | yaml_value }}
product_class: {{ product_class | yaml_value }}
concrete_product_class: {{ concrete_product_class | yaml_value }}
creator_class: {{ creator_class | yaml_value }}
concrete_creator_class: {{ concrete_creator_class | yaml_value }}
factory_method: {{ factory_method | yaml_value }}
output_dir: {{ output_dir | yaml_value }}
