pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
prefix: {{ prefix | yaml_value }}
adt_name: {{ adt_name | yaml_value }}
allocation_strategy: {{ allocation_strategy | yaml_value }}
max_objects: {{ max_objects | yaml_value }}
header_dir: {{ header_dir | yaml_value }}
source_dir: {{ source_dir | yaml_value }}
