pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
namespace: {{ namespace | yaml_value }}
strategy_class: {{ strategy_class | yaml_value }}
concrete_strategy_a_class: {{ concrete_strategy_a_class | yaml_value }}
concrete_strategy_b_class: {{ concrete_strategy_b_class | yaml_value }}
context_class: {{ context_class | yaml_value }}
execute_method: {{ execute_method | yaml_value }}
header_dir: {{ header_dir | yaml_value }}
source_dir: {{ source_dir | yaml_value }}
