pattern: {{ pattern | yaml_value }}
language: {{ language | yaml_value }}
prefix: {{ prefix | yaml_value }}
reactor_name: {{ reactor_name | yaml_value }}
handle_type: {{ handle_type | yaml_value }}
max_handles: {{ max_handles | yaml_value }}
event_handler_name: {{ event_handler_name | yaml_value }}
get_handle_method: {{ get_handle_method | yaml_value }}
handle_event_method: {{ handle_event_method | yaml_value }}
header_dir: {{ header_dir | yaml_value }}
source_dir: {{ source_dir | yaml_value }}
