package {{ package }};

public class {{ concrete_strategy_b_class }} implements {{ strategy_class }} {
    @Override
    public String {{ execute_method }}(String input) {
        return input.toLowerCase();
    }
}
